<div class="col-md-12 mb-3">

    <h1 class="text-info mb-3">{{ news.title }}</h1>

    <div class="rich-text mb-2">
        {{ news.body|safe }}
    </div>

    <div class="mb-3">
        <form method="POST">
            {% csrf_token %}
            <button name="like" class="btn btn-link p-0" type="submit">
                <i class="far fa-thumbs-up"></i> Like this news
            </button>
        </form>
    </div>

    {% if news.author %}
        <h5 class="text-fade">
            <span class="mr-1">Author:</span>
            {{ news.author }}
        </h5>
    {% endif %}

    <h5 class="mb-4 text-fade">
        <span class="mr-1">{{ news.date }}</span>
        |
        <span class="ml-1">{{ news.category.display_name }}</span>
    </h5>

</div>
