{% if social_links %}
<ul class="d-flex justify-content-end mb-0 social-links-hor">

    {% if social_links.youtube %}
    <li>
        <a href="{{ social_links.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a>
    </li>
    {% endif %}

    {% if social_links.facebook %}
    <li>
        <a href="{{ social_links.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
    </li>
    {% endif %}

    {% if social_links.instagram %}
    <li>
        <a href="{{ social_links.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a>
    </li>
    {% endif %}

    {% if social_links.twitter %}
    <li>
        <a href="{{ social_links.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
    </li>
    {% endif %}

    {% if social_links.linkedin %}
    <li>
        <a href="{{ social_links.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
    </li>
    {% endif %}

    {% if social_links.reddit %}
    <li>
        <a href="{{ social_links.reddit }}" target="_blank"><i class="fab fa-reddit"></i></a>
    </li>
    {% endif %}

</ul>
{% endif %}
