{% extends 'base.html' %}

{% block content_top %}

    {% if headline_list %}
        {% include 'widgets/news_block.html' with title='Headlines' news_list=headline_list %}
        {% include 'widgets/ads_x.html' with ads=ads_list %}
    {% endif %}

    {% if recent_list %}
        {% include 'widgets/news_block.html' with title='Recent News' news_list=recent_list %}
        {% include 'widgets/ads_x.html' with ads=ads_list %}
    {% endif %}

{% endblock %}

{% block content_bottom %}
    <h1 class="mb-4">Other News</h1>
    {% include 'widgets/card.html' with news_list=news_list %}
{% endblock %}
