<footer class="row mgt30">
    <div class="col-md-12 pt-5 border-bottom">
        <div class="row">
            <div class="col-md-3 col-sm-12 mb-3 text-center">
                <h1>LOGO</h1>
            </div>
            <div class="col-md-9 col-sm-12">

                <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3">
                    <h4 class="mb-4 font-weight-bold text-uppercase">Solutions</h4>
                    <ul class="list-group">
                        <li class="mb-2"><a href="#">Sales</a></li>
                        <li class="mb-2"><a href="#">Open Source</a></li>
                        <li class="mb-2"><a href="#">Workforce</a></li>
                        <li class="mb-2"><a href="#">Finance</a></li>
                        <li class="mb-2"><a href="#">E-Commerc</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6 col-6 p-0 mb-3 float-left">
                    <h4 class="mb-4 font-weight-bold text-uppercase">Developers</h4>
                    <ul class="list-group">
                        <li class="mb-2"><a href="#">Open Source</a></li>
                        <li class="mb-2"><a href="#">Technology</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left">
                    <h4 class="mb-4 font-weight-bold text-uppercase">Company</h4>
                    <ul class="list-group">
                        <li class="mb-2"><a href="#">About</a></li>
                        <li class="mb-2"><a href="#"> Blog</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left">
                    <h4 class="mb-4 font-weight-bold text-uppercase">Connect</h4>
                    <ul class="list-group">
                        <li class="mb-2">
                            <a href="#"><i class="fab fa-linkedin-in mr-1"></i> LinkedIn</a>
                        </li>
                        <li class="mb-2">
                            <a href="#"><i class="fab fa-twitter mr-1"></i> Twitter</a>
                        </li>
                        <li class="mb-2">
                            <a href="#"><i class="fab fa-reddit mr-1"></i> Reddit</a>
                        </li>
                        <li class="mb-2">
                            <a href="#"><i class="fab fa-facebook-f mr-1"></i> Facebook</a>
                        </li>
                        <li class="mb-2">
                            <a href="#"><i class="fab fa-youtube mr-1"></i> YouTube</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-12">
                <div class="py-3 d-flex justify-content-center align-items-center">
                    Copyright &copy;2019 All right reserved
                </div>
            </div>
        </div>
    </div>
</footer>